//= require twitter/bootstrap
//= require bootstrap-datepicker
//
//= require_self
//
//= require_tree .

.hero-unit {
  padding: 30px;
}

.editable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: gray;
  }
}

.editable ~ input {
  display: none;
}
