#tasks {
  .close {
    float: none;
  }

  input {
    margin-bottom: 0;
  }

  .task.complete {
    @for $n from 2 through 4 {
      td:nth-child(#{$n}) {
        .text, .blank {
          opacity: 0.5;
        }

        .text, .text .label {
          text-decoration: line-through;
        }
      }
    }
  }
}
