#tasks {
  .close {
    float: none;
  }

  input {
    margin-bottom: 0;
  }

  .task.complete {
    @for $n from 2 through 4 {
      td:nth-child(#{$n}) {
        .editable_in_place, .editable_in_place * {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }
  }
}
