.navbar
  .navbar-inner
    %span.brand TODO
    %ul.nav
      %li{class: ("active" if params[:action] != "api")}
        = link_to "Website", root_path
      %li{class: ("active" if params[:action] == "api")}
        = link_to "API documentation", api_path

    - if logged_in?
      %p.navbar-text.pull-right
        Logged in as <span class="text-success">#{current_user.username}</span>.
        #{link_to "Logout", logout_path, method: :delete}
